<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jenna Nichols: <%= @page %></title>
  <link rel="shortcut icon" href="http://www.gatorzone.com/favicon.ico">
  <link href="css/main.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Bangers|Lato' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <h1>Jenna Nichols</h1>
    <a href="http://www.gatorzone.com/<%= @sports.sample %>" target="_blank"><img id="logo" alt="albert logo" src="albert2.png" height="80px"></a>
    <h2><%= @page %></h2>
  </header>

<%= yield %>

  <footer>
    <nav>
      Site links:
      <a class="footer-link" href="index">Home</a> |
      <a class="footer-link" href="about">About</a> |
      <a class="footer-link" href="projects">Projects</a> |
      <a class="footer-link" href="blog">Blog</a>
    </nav>
    <nav>
      Find me on:
      <a class="footer-link" href="http://www.twitter.com/jennaplusplus">Twitter</a> |
      <a class="footer-link" href="http://www.facebook.com/jennanichols">Facebook</a> |
      <a class="footer-link" href="http://www.github.com/jennaplusplus">GitHub</a>
    </nav>
    <section id="copyright">
      &copy; <%= Time.now.year %>
    </section>
  </footer>

</body>
</html>
